:root {
  --peach: hsl(11, 73%, 66%);
  --light-peach: hsl(11, 100%, 80%);
  --black: hsl(270, 3%, 11%);
  --dark-gray: hsl(264, 5%, 20%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(210, 17%, 95%);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Jost", sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: 1130px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
h1 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 500;
}
p {
  font-size: 1rem;
  line-height: 1.3;
}
.btn {
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.btn.btn--white {
  background: var(--white);
  color: var(--black);
}
/* Header */
button.hamburger--icon {
  display: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.header a img {
  width: 12rem;
  object-fit: cover;
}
.header ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header a {
  color: var(--black);
  text-transform: uppercase;
  font-size: 0.875rem;
}

/* Home */
/* ---HERO--- */
.hero--wrapper {
  display: flex;
  align-items: flex-start;
  background: var(--peach);
  border-radius: 1rem;
  overflow: hidden;
  height: 640px;
  position: relative;
}
.hero--sec::before {
  content: "";
  width: 1050px;
  height: 600px;
  background-image: url(./../src/icons/bg-pattern-leaf.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 300px;
  left: -5rem;
  background-position: bottom;
  background-size: contain;
  z-index: -1;
}
.hero--wrapper::before {
  content: "";
  width: 640px;
  height: 640px;
  position: absolute;
  background-image: url(./../src/icons/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;
  background-size: cover;
  right: 1rem;
  top: 0;
}
.hero--wrapper .left {
  flex-basis: 50%;
  padding: 5rem 0rem 5rem 5rem;
}
.hero--wrapper .right {
  flex-basis: 50%;
}
.hero--wrapper .right img {
  width: 100%;
  object-fit: cover;
  margin-top: 2rem;
}
.hero--wrapper .left h1 {
  color: var(--white);
  margin-bottom: 1rem;
}
.hero--wrapper .left p {
  color: var(--white);
  margin-bottom: 4rem;
}
/* Services Section */
.service--sec {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.service__card {
  display: flex;
  align-items: center;
  height: 600px;
  gap: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.service__card .left,
.service__card .right {
  flex: 1;
}
.service__card .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.service--card {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
}
.service--card :where(h2, a) {
  color: var(--white);
}
.service--card a:hover {
  text-decoration: none;
}
.service--card h2 {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.service--card a {
  font-size: 1.15rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}
.service--card .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.service--card:hover .overlay {
  background-color: rgba(255, 172, 153, 0.25);
}
.left .service--card .overlay {
  min-height: 600px;
}
.right .service--card .overlay {
  min-height: 300px;
}
.right .service--card {
  height: 265px;
}
.web {
  background-image: url(./../src/images/image-web-design-large.jpg);
  min-height: 600px;
}
.app {
  background-image: url(./../src/images/image-app-design.jpg);
  min-height: 300px;
}
.graphic {
  background-image: url(./../src/images/image-graphic-design.jpg);
  min-height: 300;
}
/* Why Choose us */
.why--us__sec {
  padding: 5rem 0;
  position: relative;
}
.why--us__sec::before {
  content: "";
  width: 900px;
  height: 600px;
  background-image: url(./../src/icons/bg-pattern-leaf.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  transform: rotate(180deg);
  right: 0;
  left: unset;
  top: 10rem;
  bottom: 0;
  z-index: -1;
}

.why--us {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}
.why--us .why--us_card {
  flex: 1;
  flex-direction: column;
}
.oval--bg {
  background-image: url(./../src/icons/bg-pattern-small-circle.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  padding: 3rem 0;
}
.why--us_card h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
}
.why--us_card p {
  line-height: 1.5;
  font-weight: 400;
}
/* Let's Talk */
section.lets--talk__sec {
  position: relative;
  z-index: 99999;
}
.lets--talk {
  background-color: var(--peach);
  border-radius: 1rem;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lets--talk :where(.left, .right) {
  flex: 1;
}
.lets--talk .right {
  text-align: right;
}
.lets--talk :where(h2, p) {
  color: var(--white);
}
.lets--talk h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.25;
  width: 60%;
  margin-bottom: 2rem;
}
.lets--talk p {
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}
.lets--talk a {
  background: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--black);
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.025rem;
}
.lets--talk a:hover {
  text-decoration: none;
}

/* Footer */
.footer {
  background: var(--black);
  padding: 5rem 0rem;
  margin-top: -2rem;
  z-index: -1;
}
.footer--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.footer--row:last-child {
  margin-bottom: 0;
}
.footer :where(p, span, a) {
  color: var(--white);
}
.footer ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer--row:first-child img {
  width: 15rem;
  object-fit: cover;
}
.footer--social {
  display: flex;
  align-items: center;
  gap: 1rem;
}
